<div class="navbar-fixed">
	<nav class="indigo darken-4">
		<div class="nav-wrapper">
			<a style="margin-right: 2%; margin-left: 1%; font-size: 13pt"
				href="#" data-activates="slide-out"
				class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
			<a href="<c:url value='/ca/admin/dashboard' />" class="brand-logo">Kareer
				Plus Admin</a>
			<ul class="right hide-on-med-and-down">

				<li><a href="<c:url value='/kp-admin/logout' />">Log out</a></li>
			</ul>
		</div>
	</nav>
</div>

<ul id="slide-out" class="side-nav" style="background-color: #3b5998;">
	<li><a style="color: white;"
		href="<c:url value='/ca/admin/user/form/create' />">New User</a></li>
	<li><a style="color: white;"
		href="<c:url value='/ca/admin/community/form/new' />">New
			Community</a></li>
	<li><a style="color: white;"
		href="<c:url value='/ca/admin/communities/get' />">New Unit</a></li>
	<li><a style="color: white;"
		href="<c:url value='/ca/admin/discussion/i/form/new' />">New
			Discussion</a></li>
	<li><a style="color: white;"
		href="<c:url value='/ca/admin/cbt' />">CBT</a></li>
</ul>

