<html>
<head>
<style type="text/css">
@media screen and (max-width: 992px) {
	#gen-panel {
		max-width: 600px;
	}
}
</style>
</head>
<body>
	<div class="container-fluid test-grad" id="c1" >
		<div class="container test-grad">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6" id="gen-panel">
					<div class="panel panel-default">
						<div class="panel-body">
							
								<img class="img-circle img-responsive profile-img" style="width: 130px; height: 130px;float: left"
									id="profile-image"/>
							<div>
								<h3 id="user-name" class="report-username"></h3>
								<h4 style="color: #983b59" class="report-test-name">Career Cluster Test</h4>
								<h6 style="color: #59983b" id="today" class="report-date"></h6>
							</div>
						</div>

					</div>

				</div>

			</div>

			<div class="row">
				<div class="col-sm-12">
					<div id="div-2" style="height: 500px;"></div>
				</div>
			</div>
			<div class="row" style="padding-top: 2em;">

				<div class="col-xs-12 col-sm-6 col-md-3 ccpanel">
					<div class="panel panel-primary"
						style="height: 370px; min-width: 220px;">
						<div class="panel-heading text-center ccpanelheader" id="phead1">
							<a class="panel-title pan-title-font cctitle" id="header1"></a>
						</div>
						<div class="panel-body text-center">
							<p class="lead">
								<strong id="comment1"></strong>
							</p>
						</div>
						<div>
							<div class="row cpd">
								<div id="progress1" class="ccprogress"
									style="height: 190px; width: 190px"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 ccpanel">
					<div class="panel panel-primary"
						style="height: 370px; min-width: 220px;">
						<div class="panel-heading text-center ccpanelheader" id="phead2">
							<a class="panel-title pan-title-font cctitle" id="header2"></a>
						</div>
						<div class="panel-body text-center">
							<p class="lead">
								<strong id="comment2"></strong>
							</p>
						</div>
						<div>
							<div class="row cpd">
								<div id="progress2" class="ccprogress"
									style="height: 190px; width: 190px"></div>
							</div>
						</div>

					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 ccpanel">
					<div class="panel panel-primary"
						style="height: 370px; min-width: 220px;">
						<div class="panel-heading text-center ccpanelheader" id="phead3">
							<a class="panel-title pan-title-font cctitle" id="header3"></a>
						</div>
						<div class="panel-body text-center">
							<p class="lead">
								<strong id="comment3"></strong>
							</p>
						</div>
						<div>
							<div class="row cpd">
								<div id="progress3" class="ccprogress"
									style="height: 190px; width: 190px"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 ccpanel">
					<div class="panel panel-primary"
						style="height: 370px; min-width: 220px;">
						<div class="panel-heading text-center ccpanelheader" id="phead4">
							<a class="panel-title pan-title-font cctitle" id="header4"></a>
						</div>
						<div class="panel-body text-center">
							<p class="lead">
								<strong id="comment4"></strong>
							</p>
						</div>
						<div>
							<div class="row cpd">
								<div id="progress4" class="ccprogress"
									style="height: 190px; width: 190px"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-3 ccpanel">
					<div class="panel panel-primary"
						style="height: 370px; min-width: 220px;">
						<div class="panel-heading text-center ccpanelheader" id="phead5">
							<a class="panel-title pan-title-font cctitle" id="header5"></a>
						</div>
						<div class="panel-body text-center">
							<p class="lead">
								<strong id="comment5"></strong>
							</p>
						</div>
						<div>
							<div class="row cpd">
								<div id="progress5" class="ccprogress"
									style="height: 190px; width: 190px"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 ccpanel">
					<div class="panel panel-primary"
						style="height: 370px; min-width: 220px;">
						<div class="panel-heading text-center ccpanelheader" id="phead6">
							<a class="panel-title pan-title-font cctitle" id="header6"></a>
						</div>
						<div class="panel-body text-center">
							<p class="lead">
								<strong id="comment6"></strong>
							</p>
						</div>
						<div>
							<div class="row cpd">
								<div id="progress6" class="ccprogress"
									style="height: 190px; width: 190px"></div>
							</div>
						</div>

					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 ccpanel">
					<div class="panel panel-primary"
						style="height: 370px; min-width: 220px;">
						<div class="panel-heading text-center ccpanelheader" id="phead7">
							<a class="panel-title pan-title-font cctitle" id="header7"></a>
						</div>
						<div class="panel-body text-center">
							<p class="lead">
								<strong id="comment7"></strong>
							</p>
						</div>
						<div>
							<div class="row cpd">
								<div id="progress7" class="ccprogress"
									style="height: 190px; width: 190px"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 ccpanel">
					<div class="panel panel-primary"
						style="height: 370px; min-width: 220px;">
						<div class="panel-heading text-center ccpanelheader" id="phead8">
							<a class="panel-title pan-title-font cctitle" id="header8"></a>
						</div>
						<div class="panel-body text-center">
							<p class="lead">
								<strong id="comment8"></strong>
							</p>
						</div>
						<div>
							<div class="row cpd">
								<div id="progress8" class="ccprogress"
									style="height: 190px; width: 190px"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 hidden-sm hidden-md hidden-lg">
					<button type="button"
						class="btn ca-btn-primary btn-sm save-button pull-right"
						style="margin-right: 1em">
						<span class="glyphicon glyphicon-save"></span><span> Save</span>
					</button>

				</div>


			</div>
		</div>
	</div>
</body>
</html>