<div id="cloneable-comment" class="row" style="display: none;">
	<div class="col s12">
		<img alt="" src=""
			style="height: 45px; width: 45px; margin: 2%; float: left"
			class="image circle">
		<div>
			<h6 style="margin-bottom: 4px; margin-top: 12px; font-weight: bold;">
				<span class="author-name"></span><span
					style="font-weight: normal; font-style: italic; color: #983b59; font-family: calibri"
					class="right date-posted"></span>
			</h6>
			<p style="margin-top: 2px" class="comment"></p>
		</div>
		<div style="clear: both;"></div>
	</div>
</div>