<div class="col-sm-2 hidden-xs" style="padding: 0">
	<div class="panel panel-default">
		<div class="panel-heading" style="background-color: #627aac">
			<span class="panel-title pan-title-font">Tests</span>
		</div>
		<div class="panel-body">
			<div class="panel panel-default module-panel">
				<img alt="CBT" src="/images/cbt-ok.jpg"
					class="img-responsive panel-img cbt-home" />
				<div class="module-footer">
					<span class="cbt-home">CBT</span>
				</div>
			</div>
			<div class="panel panel-default module-panel">
				<img alt="Talent Hunt" src="/images/talent-ok.jpg"
					class="img-responsive panel-img talent-home" />
				<div class="module-footer">
					<span class="talent-home">Talent Hunt</span>
				</div>
			</div>
			<div class="panel panel-default module-panel">
				<img alt="Career Clusters" src="/images/career-ok.jpg"
					class="img-responsive panel-img career-cluster-home" />


				<div class="module-footer">
					<span class="career-cluster-home">Career Clusters</span>
				</div>
			</div>
			<div class="panel panel-default module-panel">
				<img alt="Discover You" src="/images/personal-ok.jpg"
					class="img-responsive panel-img personal-style-home" />
				<div class="module-footer">
					<span class="personal-style-home">Discover You</span>
				</div>
			</div>
			<div class="panel panel-default module-panel">
				<img alt="Skill Builder" src="/images/skills-ok.jpg"
					class="img-responsive panel-img skill-builder-home" />
				<div class="module-footer">
					<span class="skill-builder-home">Skill Builder</span>
				</div>
				<input id="has-taken-talent-test" type="hidden" value="${azureUser.takenTalentTest}">
			</div>
			<div class="panel panel-default module-panel">
				<img alt="Brain Types" src="/images/brain-ok.jpg"
					class="img-responsive panel-img mit-home" />
				<div class="module-footer">
					<span class="mit-home">Brain Types</span>
				</div>
			</div>
			<div class="panel panel-default module-panel">
				<img alt="Career Values" src="/images/values-ok.jpg"
					class="img-responsive panel-img career-values-home" />
				<div class="module-footer">
					<span class="career-values-home">Career Values</span>
				</div>
			</div>
			<div class="panel panel-default module-panel">
				<img alt="Chat & Forums" src="/images/forum-ok.jpg"
					class="img-responsive panel-img" />
				<div class="module-footer">
					<span>Chat & Forums</span>
				</div>
			</div>

		</div>
	</div>
</div>
