<html>
<head>
<style type="text/css">
@media screen and (max-width: 992px) {
	#gen-panel {
		max-width: 400px;
	}
}
</style>
</head>
<body>
<div class="container" id="c1" style="background-color: white; height: 100%;">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-5" id="gen-panel">
			<div class="panel panel-default">
				<div class="panel-body text-right">
					<div class="col-xs-5 col-sm-6 col-md-5"
						style="padding-top: 2%;">

						<img class="img-circle img-responsive profile-img to-pointer"
							id="profile-image"/>

					</div>
					<div class="col-xs-7 col-sm-6 col-md-7">
						<h1 id="user-name" class="report-username"></h1>
						<h4 class="report-test-name">Personal Style Test</h4>
						<h6 id="today" class="report-date"></h6>
					</div>
				</div>

			</div>

		</div>
		<div class="col-xs-12 col-sm-12 col-md-7">
			<div class="panel panel-primary">
				<div class="panel-heading text-center ccpanelheader"
					style="background-color: darkgreen; height: 2.5em;">
					<span class="panel-title pan-title-font">Your personal styles at a glance</span>
				</div>
				<ul class="list-group" id="personal-style-list" style="word-wrap: break-word;"></ul>
			</div>
		</div>
		<div class="col-sm-12 hidden-sm hidden-md hidden-lg">
				<button type="button"
					class="btn btn-primary btn-sm save-button pull-right"
					style="margin-right: 1em">
					<span class="glyphicon glyphicon-save"></span><span> Save</span>
				</button>

			</div>
	</div>
</div>

</body></html>