<!-- message modal -->
<div id="message-modal" class="modal">
	<div class="row valign-wrapper" style="margin: 2%">
		<img class="circle" id="recipient-image"
			style="width: 45px; height: 45px; margin: 0px 10px"> <span
			id="recipient-name"></span>
	</div>
	<form action="<c:url value=" /azure/notifications/friend/message/send" />
	">
	<div style="max-height: 400px; overflow-y: auto">
		<div class="card-content"
			style="padding-top: 10px; padding-bottom: 0px">

			<div class="row">
				<input type="hidden" id="recipient-key" name="web-key">
				<div class="input-field col s12" style="margin-top: 0px;">

					<textarea id="message-area" class="materialize-textarea"
						name="message"
						style="padding-top: 1px; padding-bottom: 1px; margin-bottom: 2px; white-space: pre-wrap;"></textarea>
					<label for="message-area">Write a message</label>

				</div>
				<div class="col s12" id="send-msg-error"
					style="color: red; font-family: calibri"></div>
			</div>

		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" id="send-message"
			class="waves-effect waves-green btn-flat">Send Message</a>
	</div>
	</form>
</div>