<select required="required" class="validate" id="subject" name="subject">

	<option value="account">Account</option>
	<option value="agricultural science">Agricultural Science</option>
	<option value="Biology">Biology</option>
	<option value="Chemistry">Chemistry</option>
	<option value="Commerce">Commerce</option>
	<option value="C.R.K">C.R.K</option>
	<option value="Economics">Economics</option>
	<option value="English">English</option>
	<option value="Government">Government</option>
	<option value="Geography">Geography</option>
	<option value="History">History</option>
	<option value="Mathematics">Mathematics</option>
	<option value="literature">Literature</option>
	<option value="Physics">Physics</option>

</select>
<label for="subject" data-error="Choose a subject" data-success="right">Subject</label>