.modal {
	width: 35%;
	max-height: 100% !important;
	overflow-y: hidden !important;
}

@media only screen and (max-width : 1200px) {
	.modal {
		width: 45% !important;
	}
}

@media screen and (max-width: 992px) {
	
	main {
		padding-left: 0;
	}
	.modal {
		width: 55% !important;
	}
	.side-nav a {
		line-height: 35px !important;
		height: 35px;
	}
	.side-nav li {
		line-height: 35px !important;
	}
	.center-div {
		padding-left: 0px;
	}
	#home-center-div {
		width: 80%;
	}
}

@media screen and (max-width: 767px) {
	.modal {
		width: 75% !important;
	}
	.center-main-content {
		width: 80% !important;
	}
	#home-center-div {
		width: 90%;
	}
	#post-content {
		width: 80%
	}
}

@media screen and (max-width: 480px) {
	
	.modal {
		width: 98% !important;
	}
	
	.center-main-content {
		width: 98% !important;
	}
	
	
	#home-center-div {
		width: 98%;
	}
	#post-content {
		width: 98%
	}
}